<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, height=devide-height">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

    <title>{{ title }} - Flask app-search</title>
</head>
<body>

<nav class="navbar is-dark">
    <div id="navbarTransparent" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
            <a class="navbar-item" href="{{ url_for('search') }}">Search</a>
            <a class="navbar-item" href="{{ url_for('newpost') }}">New Post</a>
            <a class="navbar-item" href="{{ url_for('posts') }}">Posts</a>
        </div>
    </div>
</nav>

<section class="section">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <article class="message is-info">
        <div class="message-header">
            <p>Info</p>
        </div>
        <div class="message-body">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>

        </div>
    </article>
    {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>

<footer class="footer has-text-centered has-background-white-ter">
    <div class="content has-text-grey-dark">
        <p>
            Demo using Elastic <a href="https://www.elastic.co/products/app-search" rel="external">App search</a>,
            <a href="https://palletsprojects.com/p/flask/" rel="external">Flask</a> and
            <a href="https://https://bulma.io" rel="external"> Bulma</a>.
        </p>
    </div>
</footer>
</body>
</html>